@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

wrapper {
    margin: 150px auto;
    width: 70%;
}

img {
    max-width: 300px;
    float: left;
    border: 3px solid thistle;
    border-radius: 10px;
    margin-right: 15px;
}

.text-box {
    color: white;
}

.text-box h2 {
    font-size: 45px;
}

.text-box p {
    font-size: 20px;
    line-height: 1.8;
    text-indent: 15px;
}